<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>539094044748-7dlrtap0kjqe62rj03dj8te1ot58s4cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539094044748-7dlrtap0kjqe62rj03dj8te1ot58s4cp</string>
	<key>API_KEY</key>
	<string>AIzaSyBBBLGUyEfjgZ_Pe1RVwZ_ndRt7ALOdDwM</string>
	<key>GCM_SENDER_ID</key>
	<string>539094044748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lehector.ProcesosGestionProyectos</string>
	<key>PROJECT_ID</key>
	<string>projectmanagementprocesses</string>
	<key>STORAGE_BUCKET</key>
	<string>projectmanagementprocesses.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539094044748:ios:7b004c97416903c0</string>
	<key>DATABASE_URL</key>
	<string>https://projectmanagementprocesses.firebaseio.com</string>
</dict>
</plist>